@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');






body {
    font-size: 20px;
    background-color: #fffcf2;
    background-color: #ccc5b9;
}




.section-containter {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    padding-bottom: 150px;
    border-bottom: 3px solid black;

}

nav {
    border-bottom: 2px solid black;
    padding: 15px;
    background-color: #403d39;
}


.links a {
    Color: #eb5e28;
    text-decoration: none;
    padding: 10px 5px;
    margin: 15px 15px 15px 15px;
}

.links a:hover {
    border-radius: 10px;
    background-color: #252422;
    border-color: #252422;
    border: 2px solid black;

}

.left-column {
    justify-content: center;
    flex: 1;
}

.mainpicture {
    border: 2px solid black;
    border-radius: 10px;
    max-width: 500px;
}

.right-column {
    flex: 1;
    font-family: 'Playfair Display', serif;
}

.bestellen a {
    text-decoration: none;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    color: black;
    background-color: #eb5e28;
    border-radius: 10px;
}

.bestellen a:hover {
    background-color: #eb5e28;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}


.punten {
    display: flex;
}

.logo {
    max-width: 50px;
}

.onderdelijn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    padding-bottom: 100px;

}

.punten {
    display: flex;
    flex-direction: column;
    background-color: #252422;
    color: white;
    border-radius: 10px;
    padding: 50px;
    line-height: 50px;
    border: 3px solid #eb5e28;
    border-radius: 10px;
    flex: 1;
    margin-left:50px;
}

.omschrijving {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    flex: 2;
    font-family: 'Playfair Display', serif;
}

.related {
    font-size: 20px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: baseline;
}

.interesse {
    text-align: center;
    font-size: larger;
}

.artikel1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;

}

.artikel2 {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.artikel3 {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}



.bag {
    max-width: 350px;
    border: 2px solid black;
    border-radius: 10px;
}

.stand {
    max-width: 300px;
    border: 2px solid black;
    border-radius: 10px;
}


.hanger {
    max-width: 300px;
    border: 2px solid black;
    border-radius: 10px;
}


.extras {
    border-radius: 10px;
}

h6 {
    font-size: 20px;
    padding: 0px;
    margin: 0px
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #eb5e28;
    border-top: 2px solid black;
    border-radius: 10px;
    gap: 30px;

}